<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if persona.edad < 18 %}
        <p>Ud. es menor de edad.</p>
    {% else %}
        <p>Bienvenido: {{persona.nombre}}, porque su edad es: {{persona.edad}}  </p>
    {% endif %}
</body>
</html>